<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    {{sharedData.text[sharedData.lang]["home_title"]}}
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchText" [formControl]="searchCtrl" ></ion-searchbar>
	<div *ngIf="searching" class="spinner-container">
	    <ion-spinner></ion-spinner>
	</div>
</ion-header>

<ion-content #container>

<ion-list>
	<ion-card  *ngFor="let data of datalist; let i = index; " (click)="lookNotify(data)">
		<ion-item class="my-item" color="primary">
				 <ion-avatar item-start>
				 	<img *ngIf="data.avatar=='' " width="42" height="42"  src="assets/pic/person.png"/>
				 	<div *ngIf="data.avatar!=''">
				 		<img [defaultImage]="defaultImage" 
				 			 [lazyLoad]="image+data.username+'/avatar/'+data.avatar"  
				 			 [offset]="offset " 
				 			 [scrollObservable]="container.ionScroll" >
				 	</div>
			  	</ion-avatar>
	  			<!-- {{data["username"]}} -->
	  			{{data["name"]}} {{data["surname"]}}<br>
	  			{{sharedData.text[sharedData.lang]["type"]}}: {{type_name(data["type_name"])}}<br>
	  	</ion-item>
<!-- 	  	<ion-item *ngIf="data.type_name=='recieve'" class="my-item">
				<ion-avatar item-start>
				 	<img *ngIf="data.avatar=='' " width="42" height="42"  src="assets/pic/person.png"/>
				 	<div *ngIf="data.avatar!=''">
				 		<img [defaultImage]="defaultImage" 
				 			 [lazyLoad]="image+data.username+'/avatar/'+data.avatar"  
				 			 [offset]="offset " 
				 			 [scrollObservable]="container.ionScroll" >
				 	</div>
			  	</ion-avatar>
	  			 {{data["username"]}}
 	  			{{data["name"]}} {{data["surname"]}}<br>
	  			ประเภท: {{type_name(data["type_name"])}}<br>
	  			status: {{status_data(data["status"])}} 
	  	</ion-item> -->
 		<ion-card-content >
 			<ion-card-title>
      			{{data["notifyTitle"]}}
      		</ion-card-title>
<!--       		<pre><p>{{data["detail"].toString()}}</p></pre><br> -->
      		<p>
      			{{sharedData.text[sharedData.lang]["status"]}}: {{status_data(data["status"],data["type_name"])}}<br>
	  			{{data["create_date"]}}
	  			<!-- {{data["image"]}} -->
	  		</p>
	  		<div *ngIf="data.image">
	  		<img [defaultImage]="defaultImage" [lazyLoad]="image+data.username+'/'+data.image"  [offset]="offset " [scrollObservable]="container.ionScroll" >
	  		</div>

  		</ion-card-content>
  	</ion-card>
</ion-list>
<!--  <ion-fab right bottom mini>
 	
 	<button ion-fab><ion-icon name="add"></ion-icon></button>
 </ion-fab> -->
 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
