.theme-aquar-card {
 transition: all 1.1s ease;
 background-color: #fff;
 // background: #0c1a2c;
 // background: linear-gradient(to bottom,rgba(9,16,25,1) 0,rgba(30,28,58,1) 25%,rgba(30,28,58,1) 75%,rgba(11,12,22,1) 100%);
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,

 //body,
 div {
   transition: all 1.1s ease;
   color: black;
 }

 .toolbar-title,
 .bar-button-default{
   color:white;
 }

 .onboard {
   border-color: #212121 !important;
 }

 .toolbar-background,
 .toggle-checked {
   transition: all 1.1s ease;
   background-color:  #006bb3 !important;
 }
 .item-note,
 .themeButton,
ion-tab,
.tabar,
.show-tabbar{
   background-color: #006bb3
 },
 .tab-button,
 .tab-button-icon{
   color:white;
 },
 .tab-button[aria-selected=true],
 .tab-button[aria-selected=true]
 .tab-button-icon{
   color:yellow;
 }

 ion-item.my-item.item.item-block{
  background-color:#0099ff;
  color:white;
  ion-label{color:white};
}
ion-searchbar.searchbar{
  background-color:#0099ff;
}
.user-label{
   color:yellow;
 }
div.scroll-content{
     background-color:#b3e0ff;
}
.button-default{
  background-color: #2E64FE !important;
    span{
          color:white;
    }
  }
ion-select{
    background-color:white;
  }

ion-card.card{
  box-shadow:0 10px 10px rgba(0, 0, 0, 0.5);
}
button.cancel{
  background-color:#f53d3d !important;
}
}