.theme-dark-note {
 transition: all 1.1s ease;
 background-color: #fff;
 // background: #0c1a2c;
 // background: linear-gradient(to bottom,rgba(9,16,25,1) 0,rgba(30,28,58,1) 25%,rgba(30,28,58,1) 75%,rgba(11,12,22,1) 100%);
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,

 //body,
 div {
   transition: all 1.1s ease;
   color: black;
 }

 .toolbar-title,
 .bar-button-default{
   color:white;
 }

 .onboard {
   border-color: #212121 !important;
 }

 .toolbar-background,
 .toggle-checked {
   transition: all 1.1s ease;
   background-color: black !important;
 }
 .item-note,
 .themeButton,
ion-tab,
.tabar,
.show-tabbar{
   background-color: #303030
 },
 .tab-button,
 .tab-button-icon{
   color:white;
 },
 .tab-button[aria-selected=true],
 .tab-button[aria-selected=true]
 .tab-button-icon{
   color:yellow;
 }

 ion-item.my-item.item.item-block{
  background-color:#303030;
  color:white;
  ion-label{color:white};
}
ion-searchbar.searchbar{
  background-color:#303030;
}
.user-label{
   color:yellow;
 }
div.scroll-content{
     background-color:#FFECB3;
   }
    .button-default{
   background-color: #FFA726 !important;
   span{
      color:black;
   }
}
ion-select{
  background-color:white;
}
}