.theme-dark-sun {
 transition: all 1.1s ease;
 background-color: #fff;
 // background: #0c1a2c;
 // background: linear-gradient(to bottom,rgba(9,16,25,1) 0,rgba(30,28,58,1) 25%,rgba(30,28,58,1) 75%,rgba(11,12,22,1) 100%);
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,

 //body,
 div {
   transition: all 1.1s ease;
   color: white;
 }

 .toolbar-title,
 .bar-button-default{
   color:white;
 }

 .onboard {
   border-color: #212121 !important;
 }

 .toolbar-background,
 .toggle-checked {
   transition: all 1.1s ease;
   background-color: #D35400 !important;
 }
 .item-note,
 .themeButton,
ion-tab,
.tabar,
.show-tabbar{
   background-color: #1B2631
 },
 .tab-button,
 .tab-button-icon{
   color:white;
 },
 .tab-button[aria-selected=true],
 .tab-button[aria-selected=true]
 .tab-button-icon{
   color:yellow;
 }
  ion-item.my-item.user-tab.item.item-block{
    background-color:#1B2631;
  }
 ion-item.my-item.item.item-block{
  background-color: #D35400;
  color:white;
    ion-label{color:white};
  }

  ion-card-content{
    background-color: #1B2631;
  }
  ion-card-title{
    color:white;
  }
  ion-searchbar.searchbar{
    background-color:#1B2631;
  }
  .user-label{
    color:white;
   }
  div.scroll-content{
    background-color:#566573;
   }
  .button-default{
    background-color: #FFA726 !important;
    span{
      color:black;
    };
  }
  .item-menu-button{
    color:black;
  }
  input.text-input{
    color:black;
  }
  ion-select{
    background-color:white;
    div.select-text{
      color:black
    };
  }
  button.cancel{
    background-color:#f53d3d !important;
  }
  ion-label.label2{
    color:black;
  }
}