.theme-light {
 transition: all 1.1s ease;
 background-color: #fff;
 // background: #0c1a2c;
 // background: linear-gradient(to bottom,rgba(9,16,25,1) 0,rgba(30,28,58,1) 25%,rgba(30,28,58,1) 75%,rgba(11,12,22,1) 100%);
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,

 //body,
 div {
   transition: all 1.1s ease;
   color: black;
 }
  .toolbar-title,
 .bar-button-default{
   color:white;
 }
 .onboard {
   border-color: #212121 !important;
 }

 .toolbar-background,
 .toggle-checked {
   transition: all 1.1s ease;
   background-color: #212121 !important;
 }
 .item-note,
 .themeButton,
 .swiper-pagination-bullet {
   transition: all 1.1s ease;
   //background-color: #fff;
   //border-style: solid;
   //border-width: 1px;
   //border-color: white;
 }

ion-tab,
.tabar,
.show-tabbar{
   background-color: #303030
 },
 .tab-button,
 .tab-button-icon{
   color:white;
 },
 .tab-button[aria-selected=true],
 .tab-button[aria-selected=true]
 .tab-button-icon{
   color:yellow;
 }

 ion-content,
 .input-wrapper,

 ion-footer,
 ion-item,
 ion-label {
   transition: all 1.1s ease;
   background-color: #303030 !important;
   //background: #303030 !important;
   color: black ;
 },

ion-content.test-content,
.item-menu-button{
   background-color:white; 
}
ion-card.card{
   background-color:white; 
}

ion-label{
   color:white ;
   background-color:white;
}

.time {
   background-color: white;
 }
.item {
   transition: all 1s ease;
   background-color: white;
   color: black;
}

.user-label{
   color:yellow;
 }

.item-menu-button{
   .input-wrapper,
   ion-label{
      color: black;
      background-color: white !important; 
   }
}
 .range-bar {
   background-color: #463E3F !important;
 }
 .s2,
 .s3,
 .toggle-inner,
 .range-pin,
 .range-pin::before,
 .range-knob,
 .range-bar-active {
   background-color: white !important;
   color: black !important;
 }

   div.scroll-content{
     background-color:#FFECB3;
   }

   input.text-input{
      color:white;
   }
   div.select-text{
      color:white;
   }

   ion-grid{
      background-color: #303030 !important;
      p{
         color:white;
      }
   }
   form{
       background-color: #303030 !important
   }
}