<div class="{{sharedData.state['theme']}}">
<ion-menu [content]="content" side="left" id="menu1" >
  <ion-header>
    <ion-toolbar>
<!--       <img *ngIf="sharedData.avatar ==''" height="42" width="42" src="assets/pic/person.png"/>
      <div *ngIf="sharedData.username !='' && sharedData.avatar !='' ">
        <img  [defaultImage]="defaultImage" 
                  [lazyLoad]="sharedData.image"  
                  [offset]="offset " height="42" width="42"/>
     </div> -->
      <ion-title>เมนู
      </ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-content class="test-content">
    <ion-list>
      <ion-item class="my-item user-tab">
      <div class="user-label">
      Username: {{sharedData.username}}<br>
      name: {{sharedData.name}}<br>
      surname:{{sharedData.surname}}
      </div>
      </ion-item>
      <div class="item-menu-button">
      <button  class="item-menu-button" menuClose ion-item *ngFor="let p of pages; let i=index " (click)="openPage(p)">
        <div class="item-menu-button">{{ sharedData.text[sharedData.lang][p.title] }}</div>
      </button>

      </div>
    </ion-list>
        <button menuClose ion-item (click)="logout(sharedData.username)" >
         <div class="item-menu-button">{{sharedData.text[sharedData.lang]["logout"]}}</div>
      </button>
  </ion-content>
 
</ion-menu>

<ion-nav  #content [root]="rootPage"  ></ion-nav>
</div>