<!--
  Generated template for the MyNotifyManagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar #navBar color="mains">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ประกาศที่ต้องการให้/รับ</ion-title>
  </ion-navbar>
<ion-searchbar [(ngModel)]="searchText" [formControl]="searchCtrl" ></ion-searchbar>
	<div *ngIf="searching" class="spinner-container">
	    <ion-spinner></ion-spinner>
	</div>
</ion-header>


<ion-content padding>
<ion-list>
	<ion-card *ngFor="let data of dataInList;" (click)="gotoManage(data)">
		<ion-item *ngIf="data.type_name=='give'" color="mains">
	  		{{data["notifyTitle"]}}
	  	</ion-item>
	  	<ion-item *ngIf="data.type_name=='recieve'" color="green4">
	  		{{data["notifyTitle"]}}
	  	</ion-item>
		<ion-card-content>
			ประเภท: {{data["type_name"]}}<br>
			status: {{status_data(data["status"])}}<br>
			จำนวนผู้สนใจ: {{data["interest_point"]}}
		</ion-card-content>
	</ion-card>
</ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
