<!--
  Generated template for the MyManagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar #navBar color="mains">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>my-manage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #container padding class="my-page">
<ion-list>
	<ion-card>
		<ion-item *ngIf="data.type_name=='give'" color="mains">
			  <ion-avatar item-start>
					 	<img *ngIf="data.avatar=='' " width="42" height="42"  src="assets/pic/person.png"/>
					 	<div *ngIf="data.avatar!=''">
					 		<img [defaultImage]="defaultImage" 
					 			 [lazyLoad]="image+data.username+'/avatar/'+data.avatar"  
					 			 [offset]="offset " >
					 	</div>
				  	</ion-avatar>
				{{data["name"]}} {{data["surname"]}}<br>
				ประเภท: {{data["type_name"]}}<br>

		</ion-item>
		<ion-item *ngIf="data.type_name=='recieve'" color="mains">
			<ion-avatar item-start>
				<img *ngIf="data.avatar=='' " width="42" height="42"  src="assets/pic/person.png"/>
					 	<div *ngIf="data.avatar!=''">
					 		<img [defaultImage]="defaultImage" 
					 			 [lazyLoad]="image+data.username+'/avatar/'+data.avatar"  
					 			 [offset]="offset " >
					 	</div>
			</ion-avatar>
		  		{{data["name"]}} {{data["surname"]}}<br>
		  		ประเภท: {{data["type_name"]}}<br>

		</ion-item>
<!-- 		<button ion-button *ngIf="!accepting" (click)="accept()">
			{{acceptTextBtn()}}
		</button>
		<button ion-button color="danger" *ngIf="accepting" (click)="deaccept()">
			ยกเลิก
		</button> -->
<!-- 		<button ion-button color="danger" (click)="delete()">
			ลบ
		</button> -->
			<ion-card-content>
	<div *ngIf="data.image">
	<img [defaultImage]="defaultImage" [lazyLoad]="image+data.username+'/'+data.image"  [offset]="offset">
		<h1>
		Status: {{this.accept_text}}
		</h1>  		<!-- status: {{this.accept_text}} -->
	</div>
	<div>
	<ion-grid>
		<ion-row>
			<ion-col>
				<p *ngIf="data.PROVINCE_NAME!='ไม่ระบุ' && data.AMPHUR_NAME!='ไม่ระบุ' ">
				ที่อยู่:จ.{{data.PROVINCE_NAME}} อ.{{data.AMPHUR_NAME}}
				</p>
				<p *ngIf="data.PROVINCE_NAME=='ไม่ระบุ' && data.AMPHUR_NAME=='ไม่ระบุ' ">
				ที่อยู่: ไม่ระบุ
				</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				เบอร์โทร: {{data.tel}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<h1 *ngIf="data.type_name=='give' ">รายละเอียด</h1>
				<h1 *ngIf="data.type_name=='recieve' ">เหตุผล</h1>
				<pre>
				<p>{{data.detail}}
				</p>
				</pre>
				<p *ngIf="data.type_name=='give' ">
					จำนวนผู้สนใจรับ: {{interest_point}}
				</p>
				<p *ngIf="data.type_name=='recieve' ">
					จำนวนผู้สนใจให้: {{interest_point}}
				</p>
			</ion-col>
		</ion-row>
		
	</ion-grid>
	</div>
	</ion-card-content>
	</ion-card>
<ion-label>
	ผู้สนใจให้:
</ion-label>
<ion-card *ngFor="let i_data of this.interest_data.data;">
	<ion-item *ngIf="data.type_name=='recieve'" color="primary"  (click)="lookProfilePage(i_data.username)">
		<ion-avatar item-start>
			<img *ngIf="i_data.avatar=='' " width="42" height="42"  src="assets/pic/person.png"/>
			<div *ngIf="i_data.avatar!=''">
				<img [defaultImage]="defaultImage" 
					 [lazyLoad]="image+data.username+'/avatar/'+data.avatar"  
					 [offset]="offset " 
					 [scrollObservable]="container.ionScroll" >
			</div>
		</ion-avatar>
		<!-- {{data["username"]}} -->{{i_data["name"]}} {{i_data["surname"]}}<br>
		ประเภท: ให้
	</ion-item>
	<ion-item *ngIf="data.type_name=='give'" color="green4"  (click)="lookProfilePage(i_data.username)">
		<ion-avatar item-start>
		 	<img *ngIf="data.avatar=='' " width="42" height="42"  src="assets/pic/person.png"/>
		 	<div *ngIf="data.avatar!=''">
		 		<img [defaultImage]="defaultImage" 
		 			 [lazyLoad]="image+i_data.username+'/avatar/'+i_data.avatar"  
		 			 [offset]="offset " 
		 			 [scrollObservable]="container.ionScroll" >
		 	</div>
	  	</ion-avatar>
			<!-- {{data["username"]}} -->{{i_data["name"]}} {{i_data["surname"]}}<br>
			ประเภท: รับ
	</ion-item>
  	<ion-card-content>
		{{i_data["post_data"]}}<br>
		<ion-label>
		ที่อยู่:
		</ion-label>
		{{i_data["PROVINCE_NAME"]}} {{i_data["AMPHUR_NAME"]}}
		<ion-buttons end>

			<button ion-button *ngIf="!accepting" (click)="accept(i_data.id)">
				{{acceptTextBtn()}}
			</button>
			<button ion-button color="secondary" (click)="lookProfilePage(i_data.username)">
				ดูประวัติ
			</button>
			<button ion-button color="danger" *ngIf="accepting" (click)="deaccept(i_data.id)">
				ยกเลิก
			</button>
		</ion-buttons>
	</ion-card-content>
</ion-card>
</ion-list>
</ion-content>
